@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  font-family: 'PlusJakartaSansSemiBold';
  color: rgb(var(--foreground-rgb));
  
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    
    overflow-x: hidden;
    /* width: 100vw;     */
}

  @font-face {
    font-family: 'PlusJakartaSansSemiBold';
    src: url('../app/assets/fonts/PlusJakartaSans/static/Montserrat-SemiBold.ttf') format('truetype');
    /* add other font formats here as needed */
  }
  @font-face {
    font-family: 'PlusJakartaSansBold';
    src: url('../app/assets/fonts/PlusJakartaSans/static/Montserrat-Bold.ttf') format('truetype');
    /* add other font formats here as needed */
  }




@media (max-width: 767px) {
  body {
      overflow-x: hidden;
      width: 100vw;    
  }
}

.Featurespage{
  /* height: 100vh;
  background-size: cover;
  background-repeat: no-repeat; */
  /* background: url(./assets/images/visalogo.png); */
}